# Maven target directory
/target/

# IntelliJ IDEA files
/.idea/
/*.iml

# Eclipse files
/.classpath
/.project
/.settings/

# VS Code settings
/.vscode/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# Spring Boot
*.jar
*.war